{% extends 'base.twig' %}
{% block title %}Postuler à {{ offer_name }}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{asset('/css/offer.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
{% endblock %}   
{% block content %}
<div class="banniere">
        <i class="fa-solid fa-briefcase logo"></i>
        <h1>{{ offer_name }}</h1>
        <span class="li_banniere">
            <span>
                <i class="fa-solid fa-building"></i>
                {{ company_name }}
            </span>
            <span>
                <i class="fa-solid fa-envelope"></i>
                Email de l'entreprise
            </span>
        </span>
    </div>
<div class="container">
    <h1 style="text-align: center;">Postuler à une offre</h1>
    <p>Vous pouvez ici répondre directement à l'offre de stage déposer par l'entreprise. Soyez le plus précis dans
        vos réponses!</p>
    <h2 style="margin-bottom: 0px ;">{{ offer_name }}</h2>
    <p class="legend">{{ company_name }} | Commence le {{ start_date|date('d/m/Y') }} | Ref. {{id}}</p>
    <div class="description">
        {{ description }}
    </div>
</div>
<div class="formulairebg">
    <h2>Envoyez votre candidature dès maintenant!</h2>
    <form id="formulaire" class="formulaire" method="POST" action="{{ path('submit_application', {'offer_id': id}) }}" enctype="multipart/form-data">
        <p>CV</p>
        <div class="cv">
            <input type="file" name="cv" id="filecv" accept=".pdf, .doc, .docx, .odt, .rtf, .jpeg, .jpg, .png" required>
            <label for="filecv" id="cv" class="bouton orange">AJOUTER MON CV</label>
            <p class="formulaire error"></p>
            <div class="afficher_cv">
                <i class="fa-solid fa-file"></i>
                <span class="cv_name"></span>
            </div>
        </div>
        <p>Lettre de motivation</p>
        <div class="cv">
            <input type="file" name="motivation_letter" id="filelm" accept=".pdf, .doc, .docx, .odt, .rtf, .jpeg, .jpg, .png" required>
            <label for="filelm" id="lm" class="bouton orange">AJOUTER MA LETTRE DE MOTIVATION</label>
            <p class="formulaire error"></p>
            <div class="afficher_lm">
                <i class="fa-solid fa-file"></i>
                <span class="lm_name"></span>
            </div>
        </div>
        <p class="formulaire legend">
            Poids max. 2Mo <br>
            Format .pdf, .doc, .docx, .odt, .rtf, .jpeg, .jpg ou .png
        </p>
        <div style="padding-bottom: 10px; width: 45%;">
            <button class="bouton orange" type="submit">POSTULER</button>
        </div>
        <div class="notifForm">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        </div>
    </form>
</div>
<div class="contenaire_resume_block">
    <div class="resum_block">
        <h3>{{ offer_name }}</h3>
        <a href="{{ path('company',{'company_id': company_id}) }}" style="margin-bottom: 10px;">{{ company_name }}</a>
        <h4 style="margin-bottom: 5px;">Résumé de l'offre:</h4>
        <ul class="list_resum_offre">
            {% for skill in skills %}
                <li>{{ skill }}</li>
            {% endfor %}
            <li>{{ duration }}</li>
            <li>{{ salary }}€/mois</li>
        </ul>
        <div class="btn_block">
                <button id="btn_postuler" class="bouton block">POSTULER</button>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{{ asset('/js/application.js') }}"></script>
{% endblock %}