{% extends 'base.twig' %}
{% block title %}{{ offer_name }}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{asset('/css/offre.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
{% endblock %}   
{% block content %}
<div class="container">
    <h1 style="text-align: center;">Postuler à une offre</h1>
    <p>Vous pouvez ici répondre directement à l'offre de stage déposer par l'entreprise. Soyez le plus précis dans
        vos réponses!</p>
    <h2 style="margin-bottom: 0px ;">{{ offer_name }}</h2>
    <p class="legend">{{ company_name }} | Commence le {{ start_date }} | Ref. {{id}}</p>
    <div class="description">
    {{ description }}
    </div>
</div>
<div class="formulairebg">
    <h2>Envoyez votre candidature dès maintenant!</h2>
    <form id="formulaire" class="formulaire">
        <p>CV</p>
        <div class="cv">
            <input type="file" id="filecv" accept=".pdf, .doc, .docx, .odt, .rft, .jpeg, .pnj" hidden>
            <label for="filecv" id="cv" class="bouton orange">AJOUTER MON CV</label>
            <p class="formulaire error"></p>
            <div class="afficher_cv">
                <i class="fa-solid fa-file"></i>
                <span class="cv_name"></span>
            </div>
        </div>
        <p>Lettre de motivation</p>
        <div class="cv">
            <input type="file" id="filelm" accept=".pdf, .doc, .docx, .odt, .rft, .jpeg, .pnj" hidden>
            <label for="filelm" id="lm" class="bouton orange">AJOUTER MA LETTRE DE MOTIVATION</label>
            <p class="formulaire error"></p>
            <div class="afficher_lm">
                <i class="fa-solid fa-file"></i>
                <span class="lm_name"></span>
            </div>
        </div>
        <p class="formulaire legend">
            Poid max. 2Mo <br>
            Format .pdf, .doc, .docx, .odt, .rtf, .jpeg ou .pnj
        </p>
        <div style="padding-bottom: 10px; width: 45%;">
            <button class="bouton orange" type="submit">POSTULER</button>
        </div>
        <div class="notifForm">
        </div>
    </form>
</div>
<div class="resum_block">
    <h3>{{ offer_name }}</h3>
    <a href="{{ path('company',{'company_id': company_id}) }}" style="margin-bottom: 10px;">{{ company_name }}</a>
    <h4 style="margin-bottom: 5px;">Résumé de l'offre:</h4>
    <ul class="list_resum_offre">
        {% for skill in skills %}
            <li>{{ skill }}</li>
        {% endfor %}
        <li>{{ duration }}</li>
        <li>{{ salary }}€/mois</li>
    </ul>
    <div class="btn_block">
        <button id="btn_postuler" class="bouton block">POSTULER</button>
    </div>
</div>

<div>
    <button class="btn_remonter"><i class="fa-solid fa-arrow-up"></i></button>
</div>
{% endblock %}
{% block scripts %}
<script src="script.js"></script>
{% endblock %}